#kep1 {
    width: 610px;
    height: 610px;
}
#kep2 {
    width: 610px;
    height: 610px;
}
#kep3 {
    width: 610px;
    height: 610px;
}
h1 {
    text-align: center;
    font-size: 60px;
}
h2 {
    text-align: center;
    font-size: 40px;
}